/* ------------------------------------*/
/* BASIC SETUP/CLEANUP */
/* ------------------------------------*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: #ffbc00;
  color: #fff;
  font-family: "Lato", "Arial", sans-serif;
  font-weight: 300;
  font-size: 20px;
}

body {
  background-color: #ccc;
}

/* ------------------------------------*/
/*      LANDING-PAGE HEADER            */
/* ------------------------------------*/

header {
  /* makes header's bg image kind of faded */
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(./img/pizza.jpg);
  /* background-size: cover; */
  background-position: center;
  /* height: ; */
  background-size: 100% 100%;
  background-attachment: fixed; /*background image remains fixed
                                while text moves up and down  as you scroll. */

  /* Controls the size of the navbar header ABOUT ME MY WORK PORTFOLIO CONTACT */
  height: 150vh;
}

/* .current {
  border-bottom: 2px;
  border-color: orange;
} */

.subtitle {
  display: flex;
  /* keeps Welcome to my Portfolio! My name is Willie horizontally to the left */
  /* transform: translate(x-axis, y-axis)*/
  transform: translate(5%, 220%);
  background-color: #6466ed;
  margin-left: 54%;
  height: 15%;
  width: 40%;
  /* padding: top, right, bottom, left */
  /* padding: 0px 0px 0% 10%; */
}

.subtitle h2 {
  margin-left: 10px;
  color: white;
}

.nav-link {
  float: right;
  list-style: none;
  margin-top: 2px;
  margin-right: 55px;
  padding-right: 0px;
  font-size: 125%;
  color: white;
}

/* MY NAME */
.my-name {
  float: left;
  list-style: none;
  margin-top: 55px;
  color: white;
  /* display: inline-block; */
  margin-left: 0%;
  /* padding for Willie's background color */
  padding-left: 10%;
  font-size: 220%;
  background-color: #6466ed;
}

/*========================*/
/*   SPECIALIZE SECTION   */
/*========================*/
.specialize {
  padding-top: 15px;
  text-align: center;
  line-height: 145%;
  /* width: 70%; */
  /* margin-left: 15%; */
}

.wheelhouses {
  text-align: center;
}

.fsf {
  text-align: center;
  color: white;
}

/*========================*/
/*     ABOUT ME PAGE      */
/*========================*/
.nav-about-link {
  display: flex;
  /* flex-wrap: wrap; */
  float: right;
  list-style: none;
  /* margin-top: -50px; */
  margin-right: 55px;
  margin-bottom: 200px;
  font-size: 125%;
  color: white;
}

#header-about {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(./img/pizza.jpg) 20% 30% / cover;
  height: 6rem;
  border-bottom: 3px solid blue;
  /* margin-bottom: 30px; */
}

.about_me {
  display: flex;
  flex-direction: row;
  margin-top: 40px;
  margin-bottom: 20px;
  text-align: center;
  text-decoration: underline;
  text-decoration-color: orange;
  /* border-bottom: 2px solid #e67e22;  */
}

/* create two columns and two rows (css grid) */
/* .about-a {
  display: grid;
  grid-template-columns: 100% 100%;
  grid-template-rows: 80% 20%;
} */

.my-name-about {
  float: left;
  list-style: none;
  margin-top: 5px;
  color: white;
  /* display: inline-block; */
  margin-left: 0%;
  /* padding for Willie's background color */
  padding-left: 10%;
  font-size: 220%;
  background-color: #6466ed;
}

/* MY PICTURE */
.my-picture {
  float: left;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 40px;
  width: 50%;
  height: 800px;
  /* text-align: center; */
}

.about-info {
  display: grid;
  /* background-color: gray; */
}

/*==========================*/
/*        CONTACT           */
/*==========================*/

.nav-contact-link {
  display: flex;
  /* flex-wrap: wrap; */
  float: right;
  list-style: none;
  /* margin-top: -50px; */
  margin-right: 55px;
  margin-bottom: 200px;
  font-size: 125%;
  color: white;
}

#header-contact {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(./img/pizza.jpg) 20% 30% / cover;
  height: 6rem;
  border-bottom: 3px solid blue;
  /* margin-bottom: 30px; */
}

/* create two columns and two rows (css grid) */
/* .about-a {
    display: grid;
    grid-template-columns: 100% 100%;
    grid-template-rows: 80% 20%;
  } */

.my-name-contact {
  float: left;
  list-style: none;
  margin-top: 5px;
  color: white;
  /* display: inline-block; */
  margin-left: 0%;
  /* padding for Willie's background color */
  padding-left: 10%;
  font-size: 220%;
  background-color: #6466ed;
}

.hear-from-you {
  text-align: center;
  margin-left: 40px;
  margin-right: 0px;
  margin-bottom: 20px;
}

.section-contact-form {
  width: 50%;
  margin: 0 auto;
}

input[type="text"],
input[type="email"],
select,
textarea {
  /* so that fields fill the whole area */
  width: 150%;
  /* to make the fields a litte bit bigger */
  padding: 7px;
  border-radius: 3px;
  border: 1px solid #ccc;
}

input[type="checkbox"] {
  /* margin: top right bottom left  */
  margin: 15px 5px 15px 0;
}

textarea {
  /* make the message area larger */
  height: 100px;
}

/* adjusting footer height for contact page */
.my-footer-contact {
  margin-top: 95%;
  background: hsl(248, 53%, 58%);
  color: #fff;
  height: 100px;
}

/*========================*/
/*     WORK PAGE      */
/*========================*/
.nav-work-link {
  display: flex;
  /* flex-wrap: wrap; */
  float: right;
  list-style: none;
  /* margin-top: -50px; */
  margin-right: 55px;
  margin-bottom: 200px;
  font-size: 125%;
  color: white;
}

#header-work {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(./img/pizza.jpg) 20% 30% / cover;
  height: 6rem;
  border-bottom: 3px solid blue;
  /* margin-bottom: 30px; */
}

.my-name-work {
  float: left;
  list-style: none;
  margin-top: 5px;
  color: white;
  /* display: inline-block; */
  margin-left: 0%;
  /* padding for Willie's background color */
  padding-left: 10%;
  font-size: 220%;
  background-color: #6466ed;
}

/* adjusting footer height for work page */
.my-footer-work {
  margin-top: 95%;
  background: hsl(248, 53%, 58%);
  color: #fff;
  height: 100px;
}

/* ====================== */
/*       FOOTER          */
/* ===================== */
.my-footer {
  margin-top: 10%;
  background: hsl(248, 53%, 58%);
  color: #fff;
  height: 100px;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.social .fab {
  margin-right: 10px;
  /* boxes social icons */
  border: 2px #fff solid;
  /* circular (turns box into circle) form for social icons */
  border-radius: 50%;
  /* height and width of circle for social icons */
  height: 35px;
  width: 35px;
  /* centers social icons inside circle */
  line-height: 32px;
  /* centers social icons */
  text-align: center;
  padding: -3px;
}

.fab:hover {
  background: orange;
}

/* MEDIA QUERIES */
/* SOURCE: https://codepen.io/pageboy/pen/MWboVVV */

/* when the screen is wider than 480px */

@media screen and (max-width: 1150px) {
  /* when the screen is 680px set the direction of the flex items to be in a row */

  nav ul {
    flex-direction: column;
    /* margin-top:  */
    align-items: center;
    justify-content: flex-end;
  }

  nav ul li {
    flex: 0 0 3rem;
  }

  .about_me {
    margin-top: 20%;
  }
}

@media screen and (max-width: 1050px) {
  /* when the screen is 1050px set the direction of the flex items to be in a row */

  nav ul {
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
  }

  /* tha main items have a disired width of 3rem  */

  nav ul li {
    flex: 0 0 3rem;
  }

  /* nav ul li ul li {
    flex: 0 0 2rem;
} */

  /* li ul li a {
    padding: .3rem 0;
    font-size: .8rem;
} */

  /* li ul { 
    display:none; */
  /* text-align:center; */
  /* position: absolute;
    background-color: rgb(187, 209, 206);
    width: 6rem;
}  */

  /* make the width of the sub items the same as the width of the main items */
  /* li ul li {
    width: 6rem;
} */

  /* nav ul li:hover ul {
    display:flex;
    flex-direction: column;
} */

  /* nav ul li ul li:hover {
background:none; 
} */

  .about_me {
    margin-top: 20%;
  }

  .subtitle {
    font-size: 100%;
    margin-left: 20%;
    width: auto;
  }

  .nav .nav-about {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
}

@media screen and (max-width: 780px) {
  /* when the screen is 780px set the direction of the flex items to be in a row */

  nav ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
  }

  nav ul li {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    flex: 0 0 7rem;
  }

  .about_me {
    margin-top: 20%;
  }

  .nav .nav-about {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* align-items: center; */
  }
}

@media screen and (max-width: 720px) {
  /* when the screen is 780px set the direction of the flex items to be in a row */

  nav ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
  }

  nav ul li {
    flex: 0 0 3rem;
  }

  .about_me {
    margin-top: 40%;
  }

  .nav .nav-about {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
}

@media screen and (max-width: 680px) {
  /* when the screen is 680px set the direction of the flex items to be in a row */

  nav ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
  }

  nav ul li {
    flex: 0 0 3rem;
  }

  .about_me {
    margin-top: 55%;
  }

  .nav .nav-about {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }

  .subtitle {
    display: flex;
    /* keeps Welcome to my Portfolio! My name is Willie horizontally to the left */
    /* transform: translate(x-axis, y-axis)*/
    transform: translate(5%, -55%);
    background-color: #6466ed;
    margin-left: 40%;
    height: 15%;
    width: 70%;
    /* padding: top, right, bottom, left */
    /* padding: 0px 0px 0% 10%; */
  }

  .subtitle h2 {
    display: flex;
    height: auto;
    font-size: 100%;
    margin-left: 20%;
    width: 100%;
  }
}

@media screen and (max-width: 620px) {
  /* when the screen is 680px set the direction of the flex items to be in a row */

  nav ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
  }

  nav ul li {
    flex: 0 0 3rem;
  }

  .about_me {
    margin-top: 35%;
  }

  .nav .nav-about {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
}

@media screen and (max-width: 540px) {
  /* when the screen is 680px set the direction of the flex items to be in a row */

  nav ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
  }

  nav ul li {
    flex: 0 0 3rem;
  }

  .about_me {
    margin-top: 35%;
  }

  .nav .nav-abou-link {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }

  .subtitle {
    display: flex;
    /* keeps Welcome to my Portfolio! My name is Willie horizontally to the left */
    /* transform: translate(x-axis, y-axis)*/
    transform: translate(5%, -55%);
    background-color: #6466ed;
    margin-left: 30%;
    height: 15%;
    width: 70%;
    /* padding: top, right, bottom, left */
    /* padding: 0px 0px 0% 10%; */
  }

  .subtitle h2 {
    display: flex;
    height: auto;
    font-size: 100%;
    margin-left: 20%;
    width: 100%;
  }
}

@media screen and (max-width: 470px) {
  /* when the screen is 780px set the direction of the flex items to be in a row */

  nav ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
  }

  nav ul li {
    flex: 0 0 3rem;
  }

  .about_me {
    margin-top: 55%;
  }

  .nav .nav-about {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
}
